body {
   /* background-color: rgb(117, 82, 211); */
    background-color:#f3b304; 
   
}

span {color:#38374e;}

.container {
    margin-bottom: 200px;
}

.nav-link {
    color:black;
}

.text-middle {
    text-align: center;
    line-height: 1.6;
    
}

footer{
    text-align: center;
    
}
.card-body {
    background-image: linear-gradient(45deg,  rgb(236, 167, 63) 0% , rgb(192, 131, 0) 100% );
   border-radius: 10px;
    border: none;
}

.card-body-gradiant {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(221, 183, 15);
}

.card-bg {
    border: none;
border-radius: 10px;
background: none;
}

h1, h2, h5, a {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Quattrocento', serif;
}

h6 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}
